{% extends 'base.html' %}

{% block start %}

<div class="container mt-5">
    <form class="col-6 mx-auto" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Add Receipe</h2>
        <hr>
        <div class="mb-3  ">
            <label for="">Recipe title</label>
            <input type="text" name="recipe_name" class="form-control">
        </div>
        <div class="mb-3">
            <label for="">Description</label>
            <input type="text" name="recipe_discription" class="form-control">
        </div>
        <div class="mb-3">
            <label for="">Recipe image</label>
            <input type="file" name="recipe_img" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Add Recipe</button>
    </form>
</div>
{% endblock %}