{% extends 'base.html' %}

{% block start %}

<div class="container mt-5">
    <form class="col-6 mx-auto" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Register</h2>
        <hr>
        {% if messages %}
        {% for message in messages %}

        <p style="color: red;" class="alert alert-{{ message.tags }}">{{ message }}</p>

        {% endfor %}
        {% endif %}
        <div class="mb-3  ">
            <label for="">First Name</label>
            <input type="text" name="first_name" class="form-control">
        </div>
        <div class="mb-3  ">
            <label for="">last Name</label>
            <input type="text" name="last_name" class="form-control">
        </div>



        <div class="mb-3  ">
            <label for="">User Name</label>
            <input type="text" name="username" class="form-control">
        </div>
        <div class="mb-3">
            <label for="">Password</label>
            <input type="password" name="password" class="form-control">
        </div>

        <p>Already have an account <a href="{% url 'login' %}">Login</a></p>
        <button type="submit" class="btn btn-success">Register</button>
    </form>
</div>
{% endblock %}